/* #image{
    background-image: url("../Assets/student2.png");
    height: 900px;
    width: 1600px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite alternate;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  } */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-30deg, #ff7300, #c2386d, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#bgImage{
  height: 900px;
  width: 100%;
  background-image: url("../Assets/student2.png");
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#cardAbout:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

#cardAbout{
  border-radius: 50px;
}

.card:hover{
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
  transition: 0.5s;
  transition-timing-function: linear;
}
