#NavBarEdited {
  width: 100%;
}
#graduation {
  padding-right: 10px;
}
#navLinkActive:hover {
  font-size: larger;
  transition: 0.5s;
  color: white;
}
#navLinkActive.active {
  font-size: larger;
  color: white;
}
#navLinkDisable{
  font-size: medium;
}